---
Checks:          '*,-altera-*,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-type-union-access,-fuchsia-*,-google-readability-namespace-comments,-google-readability-todo,-hicpp-*,-llvm-*,llvm-include-order,-llvmlibc-*,-modernize-use-nodiscard,-modernize-use-trailing-return-type,-readability-magic-numbers'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle:     file
User:            Brad Melanson
...
